html,body{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: #f9f6ee;
}

a{
    color: #a2697d;
}

a:link, a:visited{
    text-decoration: none;
}
  
a:hover {
    color: #888888;
}
  
a:active {
    text-decoration: none;
}

/* Home Page */
#homepage {
    position:relative;
    width:100%;
    height:90%;
    min-height: 90%;
    align-content: center;
}

#homepage a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#homepage a:link, #homepage a:visited{
    text-decoration: none;
}
  
#homepage a:hover {
    color: #888888;
}
  
#homepage a:active {
    text-decoration: none;
}

#home_about_page {
    background-color: transparent;
    width:100%;
    display: none;
}

#home_projects_page {
    display: none;
}

#home_aboutpage-content{
    display: flex;
    justify-content: left;
}

#home_aboutpage-content p{
    color: black; 
    line-height: 1.5; 
    font-size: 18px; 
    text-align:justify;
}

#home_aboutpage-image{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#home_aboutpage-image img{
    width: 75%; 
    border-radius: 5px;
    align-self: center;
}


.aboutpage-banner hr {
    height: 0.25vh;
    border-width: 0px;
    color: gray;
    background-color: gray;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.aboutpage-banner h2 {
    font-size: 3.0vh;
    text-align: center;
}

.aboutpage-banner p{
    line-height: 1.5; 
    font-size: 1.5vh; 
    text-align:justify;
    justify-self: left;
}

.aboutpage-banner-image {
    background-size: cover;
    background-position: center center;
}

#aboutpage-banner-image-portrait {
    max-width: 75vw;
    margin-left: 60vw;
}

.aboutpage-content-bubble {
    z-index: 2;
    background-image: linear-gradient(135deg, #ffffff, #f0f2f2);
    width: 40%;
    height: auto;
    position: absolute;
    border-radius: 2%;
    padding: 3%;
    padding-top: 2%;
    padding-bottom:2%;
}

#aboutpage-content-bubble-1{
    left: 55%;
    top: 15%;
}

#aboutpage-content-bubble-2 {
    left: 57%;
    top: 15%;
}

#aboutpage-content-bubble-3 {
    top: 20%;
    left: 5%;
}

#aboutpage-content-bubble-4 {
    left: 10%;
    top: 25%;
}

#aboutpage-content-bubble-5 {
    left: 55%;
    top: 25%;
}

#aboutpage-content-bubble-4-filter {
    z-index: 1;
    background-color: #535b69;
    background-image: url(../assets/IMG_1603.jpg);
    opacity: 0.8;
    width: 63%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    display: block;
    background-size: cover;
    background-position: center center;
}

/* Smartphones ----------- */
@media only screen and (max-width: 812px), only screen and (max-device-width: 1024px) {
    #mobile-detect { display: none; }

    #home_about_me_section {
        display: flex;
        flex-direction: column-reverse;
    }

    #home_aboutpage-image {
        top: -15vh;
    }

    #home_aboutpage-content {
        top: -15vh;
    }

    .aboutpage-banner{
        margin-left: 0%;
        margin-right: 0%;
    }

    .aboutpage-content-bubble {
        width: 98vw;
        opacity: 0.9;
        padding: 1;
    }

    #aboutpage-banner-avanos {
        position: relative;
    }

    #aboutpage-content-bubble-1{
        left: 1vw;
        top: 15vh;
    }
    #aboutpage-content-bubble-2{
        left: 1vw;
        top: 5vh;
    }
    #aboutpage-content-bubble-3{
        left: 1vw;
        top: 5vh;
    }
    
    #aboutpage-content-bubble-4 {
        left: 1vw;
        top: 20vh;
    }
    
    #aboutpage-content-bubble-5 {
        left: 1vw;
        top: 10vh;
    }

    .aboutpage-banner-image {
        padding-top: 100vh;
        left: 0vw;
        width: 100vw;
    }

    #aboutpage-banner-image-portrait {
        padding-top: 100vh;
        max-width: 100vw;
        margin-left: 0vw;
    }

    #aboutpage-content-bubble-2-filter {        
        display: none;
    }
    
  }

/* Projects Page */
#projects-banner {
    background-image: url(/images/IMG_2400.jpg); 
    background-size: cover; 
    background-position: center center;
    width:100vw; 
    height:auto;
    margin-top: -16px;
}

#projects-banner h2 {
    font-size: 3.0vh;
}

#projectentry{
    background-color: #F5F7F2; 
    width:80%;
    margin-left: 10%;
    border: 0.25vw solid #D2D5D0;
    box-shadow:  
         -1px 1px #D2D5D0,
         -2px 2px #D2D5D0,
         -3px 3px #D2D5D0,
         -4px 4px #D2D5D0,
         -5px 5px #D2D5D0;
    position: relative;
    align-content: left;
}

#projectentry-content{
    display: flex;
    padding: 1%;
}

#projectentry-content p{
    line-height: 1.5; 
    font-size: 1.5vh; 
    text-align:justify;
    justify-self: left;
}

#projectentry-image{
    display: block;
    margin: 0 auto;
}

#projectentry-image img{
    width: 100%; 
    height: auto;
    border-radius: 5px;
}